@font-face {
  font-family: "iconfont"; /* Project id 4043807 */
  src: url('iconfont.woff2?t=1685418879083') format('woff2'),
       url('iconfont.woff?t=1685418879083') format('woff'),
       url('iconfont.ttf?t=1685418879083') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e62a";
}

.icon-yincangbukejian:before {
  content: "\e8d5";
}

.icon-shengyin_shiti:before {
  content: "\eca5";
}

.icon-yincang:before {
  content: "\e60b";
}

.icon-jingyin:before {
  content: "\e865";
}

.icon-iconstop:before {
  content: "\e69d";
}

.icon-yunduanshangchuan:before {
  content: "\ec1d";
}

.icon-luzhishipin:before {
  content: "\e64b";
}

.icon-shoujishangchuan:before {
  content: "\e6a3";
}

.icon-quanping:before {
  content: "\e661";
}

.icon-bofang:before {
  content: "\e87d";
}

.icon-24gf-backward:before {
  content: "\ea78";
}

.icon-24gf-forward:before {
  content: "\ea7c";
}

.icon-diyigeshipin:before {
  content: "\e610";
}

.icon-zuihouyigeshipin:before {
  content: "\e611";
}

.icon-zhankai:before {
  content: "\e624";
}

.icon-zhongzuo:before {
  content: "\e60f";
}

.icon-tianjia1:before {
  content: "\e60a";
}

.icon-huchifuwu:before {
  content: "\e637";
}

.icon-timeline-fill:before {
  content: "\e6b5";
}

.icon-gengduo:before {
  content: "\e61e";
}

.icon-yunshangchuan:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e604";
}

.icon-31yiwen:before {
  content: "\e605";
}

.icon-chexiao:before {
  content: "\e606";
}

.icon-tianjia:before {
  content: "\e620";
}

.icon-shanchu:before {
  content: "\e621";
}

.icon-jian:before {
  content: "\e8e2";
}

.icon-xinxi-yuankuang:before {
  content: "\e8ea";
}

.icon-suoxiao:before {
  content: "\e87b";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-fuzhi:before {
  content: "\e622";
}

.icon-wenjianjia:before {
  content: "\e623";
}

.icon-24gf-pointer:before {
  content: "\e9c3";
}

.icon-cixi:before {
  content: "\e60e";
}

.icon-shipinfenge:before {
  content: "\e690";
}

.icon-liandong:before {
  content: "\e62b";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-biaoqing:before {
  content: "\e666";
}

.icon-yinpin:before {
  content: "\e609";
}

.icon-mobanguanli:before {
  content: "\e625";
}

.icon-24gf-playSquare:before {
  content: "\ea88";
}

.icon-shengyin:before {
  content: "\e87c";
}

.icon-sucai:before {
  content: "\e833";
}

.icon-gongju:before {
  content: "\e61f";
}

.icon-lvjing:before {
  content: "\e660";
}

.icon-tiquzimu:before {
  content: "\e602";
}

.icon-zhuanchang:before {
  content: "\e630";
}

.icon-jiacuziti:before {
  content: "\e603";
}

.icon-texiao:before {
  content: "\e616";
}

