@mainBgColor: #252525;
@mainWrapperBgColor: #191919;
@ThemeColor: #282828;
@mainResizer: #191919;
@headerCoverBgColor: #202020;
@headerTitleTextColor: #b4b4b4;
@headerSaveTextColor: #969696;
@headerSaveIconColor: #b4b4b4;
@disabledColor: #4b4b4b;
@headerBtnColor: #454545;
@headerIconBgColor: #363636;
@sideItemActiveColor: #00dfb0;
@sideitemActiveBgColor: #1a1b1b;
@bottomBorderColor: #323232;
@searchInputBgColor: #1e1e1e;
@searchInputBorderColor: #464646;
@searchInputCaretColor: #00dfb0;
@timeDisabled: #7d7d7d;
@textDarkColor: #646464;
@trackBgColor: rgba(48,48,48,.6);
@dropDownBorder: #464646;
@dropDownBgColor: #1e1e1e;
@dropDownSelected: #3980dd;
